:root {
    --prussian-blue: #032b43ff;
    --linen: #feefe5ff;
    --smoky-black: #191102ff;

/* 
    --reseda-green: #757761ff;
 
    --pine-green: rgb(14, 70, 62); */



    --blue-crayola: #5c7affff;
    --chefchaouen-blue: #4a8fe7ff;
    --gunmetal: #00272bff;
    --chartreuse: #e0ff4fff;
    /* --bittersweet: #ff6663ff; */
    --razzle-dazzle-rose: #ff2eccff;
    /* --fandango: #a51080ff; */

}

body {
    background-color: var(--gunmetal);
}

